$breakpoint-sm: 34.375em; // 550px
$breakpoint-md: 48em; // 768px
$breakpoint-lg: 64em; // 1024px

@mixin breakpoint($point) {
  @if $point == small {
    @media (max-width: $breakpoint-sm) {
      @content;
    }
  } @else if $point == medium {
    @media (max-width: $breakpoint-md) {
      @content;
    }
  } @else if $point == large {
    @media (max-width: $breakpoint-lg) {
      @content;
    }
  }
}
