@import './base.css';

#app {
  margin: 0 80px;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  transition: 0.4s;
  padding: 3px;
  color: hsla(160, 100%, 37%, 1);
  text-decoration: none;
}
