@use './breakpoints.scss';
@use './base.scss';
@use './tokens.scss' as *;

#app {
  margin: $spacing-5 $spacing-10;
  font-weight: normal;

  @include breakpoints.breakpoint(large) {
    margin: $spacing-5;
  }

  @include breakpoints.breakpoint(medium) {
    margin: $spacing-5 $spacing-6;
  }

  @include breakpoint(small) {
    margin: $spacing-4;
  }
}

a,
.green {
  transition: $transition-slow;
  padding: $spacing-1;
  color: var(--color-green);
  text-decoration: none;
}
