@use './breakpoints.scss';
@use './base.scss';

#app {
  margin: 20px 80px;
  font-weight: normal;

  @include breakpoints.breakpoint(large) {
    margin: 20px;
  }

  @include breakpoints.breakpoint(medium) {
    margin: 20px 30px;
  }

  @include breakpoint(small) {
    margin: 20px;
  }
}

a,
.green {
  transition: 0.4s;
  padding: 3px;
  color: hsla(160, 100%, 37%, 1);
  text-decoration: none;
}
